<div class="container mt-4">
  <h2 class="text-center mb-4">Update Password</h2>

  <!-- Success Message -->
  <div *ngIf="success_message" class="alert alert-success">
    {{ success_message }}
  </div>

  <!-- Error Message -->
  <div *ngIf="error_message" class="alert alert-danger">
    {{ error_message }}
  </div>

  <form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">
    <!-- Current Password Field -->
    <div class="mb-3">
      <label for="current_password" class="form-label">Current Password</label>
      <input
        type="password"
        id="current_password"
        formControlName="current_password"
        class="form-control"
        placeholder="Enter current password"
        [ngClass]="{ 'is-invalid': changePasswordForm.get('current_password')?.invalid && changePasswordForm.get('current_password')?.touched }"
      />
      <div *ngIf="changePasswordForm.get('current_password')?.invalid && changePasswordForm.get('current_password')?.touched" class="invalid-feedback">
        Current password is required.
      </div>
    </div>

    <!-- New Password Field -->
    <div class="mb-3">
      <label for="new_password" class="form-label">New Password</label>
      <input
        type="password"
        id="new_password"
        formControlName="new_password"
        class="form-control"
        placeholder="Enter new password"
        [ngClass]="{ 'is-invalid': changePasswordForm.get('new_password')?.invalid && changePasswordForm.get('new_password')?.touched }"
      />
      <div *ngIf="changePasswordForm.get('new_password')?.invalid && changePasswordForm.get('new_password')?.touched" class="invalid-feedback">
        Password must be at least 8 characters long.
      </div>
    </div>

    <!-- Confirm New Password Field -->
    <div class="mb-3">
      <label for="confirm_password" class="form-label">Confirm New Password</label>
      <input
        type="password"
        id="confirm_password"
        formControlName="confirm_password"
        class="form-control"
        placeholder="Confirm new password"
        [ngClass]="{ 'is-invalid': changePasswordForm.get('confirm_password')?.invalid && changePasswordForm.get('confirm_password')?.touched }"
      />
      <div *ngIf="changePasswordForm.get('confirm_password')?.invalid && changePasswordForm.get('confirm_password')?.touched" class="invalid-feedback">
        Please confirm your new password.
      </div>
    </div>

    <button type="submit" class="btn btn-primary text-white w-100" [disabled]="changePasswordForm.invalid">Update Password</button>
  </form>

  <form method="POST">
    <button class="btn btn-sm btn-primary w-100 mt-2 py-2" type="submit">
      <a class="text-white" href="#/(auth:logout)">Back to Login</a>
    </button>
  </form>
</div>
