.card {
    margin-top: 50px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .btn-info {
    background-color: #17a2b8;
  }
  
  .btn-outline-info {
    border-color: #17a2b8;
  }
  