<div class="container">
    <!-- Modal -->
    <div class="modal fade" id="myModal" role="dialog">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <button button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title text-center w-100">View KYC Document</h4>
          </div>
          <div class="modal-body">

            <div class="text-center">
              <img id="kyc-photo" [src]="file" alt="KYC Document" class="img-fluid">
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default rounded" data-dismiss="modal" style="margin-right: 10px;" >Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>


