<page-title title="Photo Requests" subtitle="Requests list"></page-title>

<!-- Main content -->
<section class="content">
	<div class="container-fluid">


    <div *ngIf="error_message.length > 0" class="alert alert-danger text-center w-100" role="alert" style="position: fixed; top: 20px; z-index: 1051;">
      {{ error_message }}
    </div>

    <!-- Success Message -->
    <div *ngIf="success_message.length > 0" class="alert alert-success text-center w-100" role="alert" style="position: fixed; top: 20px; z-index: 1050;">
      {{ success_message }}
    </div>

		<div class="row">
			<div class="col-12">
				<div class="card">

					<!-- /.card-header -->
					<div class="card-body row">

						<div class="col-3 float-start  mb-3">
							<search-box (search)="onSearch($event)"></search-box>
						</div>

						<div class="table table-striped" style="padding-top: 20px; display: flex;width: 100%;flex-direction: column;">
							<div class="table-light" style="width: 100%;">
								<div style="display: flex;justify-content: space-between;width: 100%;">
									<div style="width: 18%;padding-left: 14px;">
                    Request Photo
									</div>
                  <!-- <th></th> -->
                  <div style="width: 25%;padding-left: 40px;">
                    KYC ID Proof
                  </div>
                  <div style="width: 45%;padding-left: 0px;">
                    Avatars
                  </div>
									<!-- <th class="w-10">
										{{ "Actions" }}
									</th> -->
                  <div style="width: 15%;">
                    Actions
                  </div>

								</div>
							</div>
							<div>

                <div *ngFor="let one of records;" style="display: flex; width: 100%;padding-top: 10px; border: 1px solid #ddd;">
                  <form [formGroup]="artistForm" style="display: flex;justify-content: space-evenly;width: 100%;" (ngSubmit)="saveChanges(one.id)" >
                  <!-- USER PHOTO -->
                  <div style="width: 18%;display: flex; padding-left: 0px;">

                    <div style="display: flex;flex-direction: column;">
                      <div style="display: flex; align-items: center;">
                        <small>User Photo</small>
                      </div>
                      <div style="display: flex; align-items: center;">

                          <div class="position-relative" style="display: flex; flex-direction: row;">

                            <img style="width: 128px; height: 128px; " src="{{ one.photo }}" />
                            <span *ngIf="one.photo">
                              <button (click)="downloadImage(one.photo, one.id, '1')" style="background: transparent;border: none;" [ngStyle]="{ cursor: isEditing === one.id ? 'pointer' : 'default' }">
                                <i class="fa fa-download" style="padding-left: 10px;color:blue;"></i>
                              </button>
                            </span>

                          </div>


                    </div>


                    <div style="margin-top: 10px; width: 200px;">
                      <div class=""
                           [ngClass]="{
                          'text-gray': !one.face_status || one.face_status === 'Pending',
                          'text-danger': one.face_status === 'Rejected',
                          'text-success': one.face_status === 'Approved'
                      }"
                           style="width: 100px;font-size: 13px;"
                           *ngIf="isEditing !== one.id">
                        {{ one.face_status ?? 'Pending' }}
                      </div>

                      <select class="form-control form-select"
                              id="dropdownMenuSelect"
                              style="width: 105px;  border: 1px solid #ced4da;font-size: 13px;"
                              value="{{artistForm.value.face_status}}"
                              *ngIf="isEditing === one.id"
                              (change)="onFaceStatusChange($event)">
                        <option value="" disabled selected>Select Status</option>
                        <option value="Rejected">Rejected</option>
                        <option value="Approved">Approved</option>
                      </select>

                    </div>

                    <div style="padding-top: 20px;">
                      <form>
                        <div class="form-group" >
                          <label for="realName">Real Name</label>
                          <input type="text" class="form-control" style="width: 220px;" (input)="onRealNameChange($event)" [value]="artistForm.value.real_name" id="realName"  *ngIf="isEditing === one.id"/>
                          <!-- Read-only display -->
                          <input type="text" class="form-control" style="width: 220px;" id="realName" [value]="one.real_name" readonly *ngIf="isEditing !== one.id"/>
                        </div>
                        <div class="form-group">
                          <label for="nickname">Nickname</label>
                          <input type="text" class="form-control" style="width: 220px;" (input)="onNickNameChange($event)" id="nickname" [value]="artistForm.value.nickname" *ngIf="isEditing === one.id"/>
                          <!-- Read-only display -->
                          <input type="text" class="form-control" style="width: 220px;" id="nickname" [value]="one.nickname" readonly *ngIf="isEditing !== one.id"/>
                        </div>
                      </form>
                    </div>


                </div>

                  </div>

                  <!-- KYC ID PROOF -->
                  <div style="display: flex;width: 19%;padding-left: 10px;margin-left: 10px;border-left: 1px solid #ddd;">

                    <div style="width: 160px;">
                      <div class="position-relative">
                        <small>ID Photo</small>
                        <div style="display: flex;flex-direction: row;">
                        <img style="width: 128px; height: 128px;" [ngStyle]="{ cursor: isEditing === one.id ? 'pointer' : 'default' }" src="{{ one.id_photo }}" (click)="setImage(one.id_photo)"  data-toggle="modal" data-target="#myModal"  />
                        <span *ngIf="one.photo">
                          <button (click)="downloadImage(one.id_photo, one.id, '2')" style="background: transparent;border: none;" [ngStyle]="{ cursor: isEditing === one.id ? 'pointer' : 'default' }">
                            <i class="fa fa-download" style="padding-left: 10px;color:blue;"></i>
                          </button>
                        </span>
                      </div>
                      </div>
                      <div *ngIf="one.photo" >
                        <a target="_blank" href="{{ one.id_photo }}">
                        </a>
                      </div>

                      <div style="padding-top: 10px;">
                        <div style="margin-top: 10px; width: 200px;">
                          <div class=""
                               [ngClass]="{
                              'text-gray': !one.id_status || one.id_status === 'Pending',
                              'text-danger': one.id_status === 'Rejected',
                              'text-success': one.id_status === 'Approved'
                          }"
                               style="width: 100px;font-size: 13px;"
                               *ngIf="isEditing !== one.id">
                            {{ one.id_status ?? 'Pending' }}
                          </div>

                          <select class="form-control form-select"
                                  id="dropdownMenuSelect"
                                  style="width: 105px;  border: 1px solid #ced4da;font-size: 13px;"
                                  value="{{artistForm.value.id_status}}"
                                  *ngIf="isEditing === one.id"
                                  (change)="onIdStatusChange($event)">
                            <option value="" disabled selected>Select Status</option>
                            <option value="Rejected">Rejected</option>
                            <option value="Approved">Approved</option>
                          </select>

                        </div>



                        <div class="dropup" style="margin-top: 20px;">
                          <button *ngIf="isEditing != one.id" [ngStyle]="{ cursor: isEditing === one.id ? 'pointer' : 'default' }" type="button" id="dropdownMenuButton" style="background: none; border: none; display: flex; align-items: center;">
                            <img [src]="one.file" alt="{{ one.country }}" style="width: 32px; height: 32px;" />
                            <span style="font-weight: 400; margin-left: 10px;" >{{ one.country ?? 'Not Selected' }}</span>
                          </button>
                          <div class="dropdown" [ngClass]="{ 'show': isDropdownOpen }" *ngIf="isEditing === one.id">
                            <button class="btn  dropdown-toggle" type="button" (click)="toggleDropdown()" style="border: 1px solid gray;">
                              {{ artistForm.value.country || 'Select a country' }}
                            </button>
                            <div class="dropdown-menu show" *ngIf="isDropdownOpen">
                              <!-- Fixed Search Bar -->
                              <div class="px-3 py-2">
                                <input type="text" class="form-control" placeholder="Search country..." (input)="filterCountries($event)">
                              </div>
                              <!-- Scrollable List -->
                              <div class="dropdown-list" style="max-height: auto;">
                                <ul class="list-unstyled m-0 p-0">
                                  <li *ngFor="let country of filteredFlags" class="dropdown-item" (click)="selectCountry(country.country, country.flag)">
                                    <img [src]="country.flag" alt="{{ country.country }}" class="me-2" style="width: 24px; height: 24px;">
                                    {{ country.country }}
                                  </li>
                                </ul>
                              </div>
                            </div>
                          </div>

                        </div>


                      </div>

                    </div>


                  </div>

                  <!-- AVATARS VIEW -->
                  <div style="width: 45%; padding-left: 10px;margin-left: 10px;display: flex;justify-content: space-evenly;border-left: 1px solid #ddd;">
                  <div  style="width: 160px;  float: left;">
                    <div class="position-relative float-left" >
                      <small>Main</small>
                      <div *ngIf="one.avatar" >

                        <app-image-upload [isEditable]="isEditing === one.id"  (imagesUploaded)="onImagesUploaded(one.id, '0', $event)"></app-image-upload>

                        <a target="_blank" href="{{ one.avatar }}">
                          <img class="img-old" style="width: 128px; height: 128px; " src="{{ one.avatar }}" [ngStyle]="{ cursor: isEditing === one.id ? 'pointer' : 'default' }"  />
                        </a>


                      </div>

                      <div *ngIf="! one.avatar" >
                        <div class="position-relative float-left" style=" height: 128px; width: 128px">
                          <app-image-upload [isEditable]="isEditing === one.id" (imagesUploaded)="onImagesUploaded(one.id, '0', $event)"></app-image-upload>
                        </div>
                        <span><i class="fa fa-download " style=" color: transparent;padding-right: 10px" ></i> </span>
                      </div>
                    </div>

                  </div>


                  <div  style="width: 160px;  float: left;">
                    <div class="position-relative float-left">
                      <small>Lobby</small>
                      <div *ngIf="one.avatar2" >

                        <app-image-upload [isEditable]="isEditing === one.id" (imagesUploaded)="onImagesUploaded(one.id, '1', $event)"></app-image-upload>

                        <a target="_blank" href="{{ one.avatar2 }}">
                          <img class="img-old" style="width: 128px; height: 128px;" [ngStyle]="{ cursor: isEditing === one.id ? 'pointer' : 'default' }"  src="{{ one.avatar2 }}" />
                        </a>
                      </div>

                      <div *ngIf="! one.avatar2" >
                        <div class="position-relative float-left " style=" height: 128px; width: 128px" >
                          <app-image-upload [isEditable]="isEditing === one.id" (imagesUploaded)="onImagesUploaded(one.id, '1', $event)"></app-image-upload>
                        </div>
                        <span><i class="fa fa-download " style=" color: transparent; padding-right: 10px" ></i> </span>
                      </div>
                    </div>

                  </div>



                  <div  style="width: 160px;  float: left;">
                    <div class="position-relative float-left">
                      <small>Detail</small>
                      <div *ngIf="one.avatar3" >

                        <app-image-upload [isEditable]="isEditing === one.id" (imagesUploaded)="onImagesUploaded(one.id, '2', $event)"></app-image-upload>

                        <a target="_blank" href="{{ one.avatar3 }}">
                          <img class="img-old" style="width: 128px; height: 128px;" [ngStyle]="{ cursor: isEditing === one.id ? 'pointer' : 'default' }"  src="{{ one.avatar3 }}" />
                        </a>

                      </div>

                      <div *ngIf="! one.avatar3" >
                        <div class="position-relative float-left " style="height: 128px; width: 128px">
                          <app-image-upload [isEditable]="isEditing === one.id" (imagesUploaded)="onImagesUploaded(one.id, '2', $event)"></app-image-upload>
                        </div>
                        <span><i class="fa fa-download " style=" color: transparent; padding-right: 10px" ></i> </span>
                      </div>
                    </div>

                  </div>
                </div>

                <!-- ACTIONS -->
                <div style="width: 15%; display: flex; justify-content: center; align-items: center; padding-left: 10px; padding-right: 5px;flex-direction: column;border-left: 1px solid #ddd;">
                  <button type="button" class="btn btn-primary" style="width: 150px;" (click)="enableEdit(one.id, one)" *ngIf="isEditing != one.id">
                    Edit
                  </button>
                  <button type="submit" class="btn btn-success" style="width: 150px;text-align:center;" *ngIf="isEditing===one.id">
                    Save Changes
                  </button>
                  <button class="btn btn-secondary" type="button" *ngIf="isEditing === one.id" style="width: 150px;margin-top: 10px;" (click)="closeEdit()" >Cancel</button>
                </div>


              </form>
                </div>

                <div>

                </div>


                <div *ngIf="!records || records.length < 1">
                  <div colspan="6" >No record found</div>
                </div>
							</div>
						</div>


						<mat-paginator (page)="handlePageEvent($event)" [length]="pageOptions.pageEvents.length"
							[pageSize]="pageOptions.pageEvents.pageSize" [pageSizeOptions]="pageOptions.sizeOptions"
							aria-label="Select page">
						</mat-paginator>


					</div>
					<!-- /.card-body -->
				</div>
				<!-- /.card -->

			</div>
			<!-- /.col -->
		</div>
		<!-- /.row -->
	</div>
	<!-- /.container-fluid -->
</section>
<!-- /.content -->

                    <!-- POPUP MODAL -->
<app-popup *ngIf="isEditing != null" [file]="artistForm.value.file"></app-popup>
