<page-title title="Requests" subtitle="Requests list"></page-title>

<!-- Main content -->
<section class="content">
	<div class="container-fluid">



		<div class="row">
			<div class="col-12">
				<div class="card">

					<!-- /.card-header -->
					<div class="card-body row">

						<div class="col-3 float-start  mb-3">
							<search-box (search)="onSearch($event)"></search-box>
						</div>

						<table class="table table-striped" >
							<thead class="table-light">
								<tr>
									<th>
										<sortable (toggle)="onSort($event)" caption="Request Photo" name="Request"></sortable>
									</th>
                  <th></th>
                  <th>
                    <sortable (toggle)="onSort($event)" caption="Avatars" name="Avatars">
                    </sortable>
                  </th>

                  <th>
                    <sortable (toggle)="onSort($event)" caption="Req.Info" name="ReqInfo">
                    </sortable>
                  </th>
									<th class="w-10">
										{{ "Actions" }}
									</th>
								</tr>
							</thead>
							<tbody>
                <tr *ngFor="let one of records;" >


                  <td style="width: 160px;  margin-right: 10px; margin-right: 10px">
                    <div class="position-relative">
                      <small>User Photo</small>
                      <img style="width: 128px; height: 128px; " src="{{ one.photo }}" />
                    </div>
                    <div *ngIf="one.photo" >
                      <a target="_blank" href="{{ one.photo }}">
                      <span><i class="fa fa-download " style="padding-right: 10px" ></i> </span>
                      </a>
                    </div>
                  </td>

                  <td>&nbsp;</td>

                  <td  style="width: 160px;  float: left;">
                    <div class="position-relative float-left">
                      <small>Avatar 1</small>
                      <div *ngIf="one.avatar1" >
                        <a target="_blank" href="{{ one.avatar1 }}">
                        <img style="width: 128px; height: 128px; padding: 2px;" src="{{ one.avatar1 }}" />
                        </a>
                        <app-image-upload (imagesUploaded)="onImagesUploaded(one.player_id, '0', $event)"></app-image-upload>

                      </div>

                      <div *ngIf="! one.avatar1" >
                        <div class="position-relative float-left " style=" height: 128px; width: 128px">
                          <app-image-upload (imagesUploaded)="onImagesUploaded(one.player_id, '0', $event)"></app-image-upload>
                        </div>
                        <span><i class="fa fa-download " style=" color: transparent; padding-right: 10px" ></i> </span>
                      </div>
                    </div>

                  </td>


                  <td  style="width: 160px;  float: left;">
                    <div class="position-relative float-left">
                      <small>Avatar 2</small>
                      <div *ngIf="one.avatar2" >
                        <a target="_blank" href="{{ one.avatar2 }}">
                        <img style="width: 128px; height: 128px; padding: 2px;" src="{{ one.avatar2 }}" />
                        </a>
                        <app-image-upload (imagesUploaded)="onImagesUploaded(one.player_id, '1', $event)"></app-image-upload>

                      </div>

                      <div *ngIf="! one.avatar2" >
                        <div class="position-relative float-left " style="height: 128px; width: 128px">
                          <app-image-upload (imagesUploaded)="onImagesUploaded(one.player_id, '1', $event)"></app-image-upload>
                        </div>
                        <span><i class="fa fa-download " style=" color: transparent; padding-right: 10px" ></i> </span>
                      </div>
                    </div>

                  </td>


                  <td  style="width: 160px;  float: left;">
                    <div class="position-relative float-left">
                      <small>Avatar 3</small>
                      <div *ngIf="one.avatar3" >
                        <a target="_blank" href="{{ one.avatar3 }}">
                        <img style="width: 128px; height: 128px; padding: 2px;" src="{{ one.avatar3 }}" />
                        </a>

                        <app-image-upload (imagesUploaded)="onImagesUploaded(one.player_id, '2', $event)"></app-image-upload>


                      </div>

                      <div *ngIf="! one.avatar3" >
                        <div class="position-relative float-left " style=" height: 128px; width: 128px">
                          <app-image-upload (imagesUploaded)="onImagesUploaded(one.player_id, '2', $event)"></app-image-upload>
                        </div>
                        <span><i class="fa fa-download " style=" color: transparent;padding-right: 10px" ></i> </span>
                      </div>
                    </div>

                  </td>

                  <td>
                    <div>Player: <b> {{ one.nickname }}</b></div>
                    <div>Req. Date: <b> {{ one.requested_at }} </b></div>
                  </td>

                  <td>
                    <button
                      *ngIf="imageStatus[one.player_id]"
                      (click)="saveImages(one.player_id)"
                      class="save-btn btn-round">
                      Save Image
                    </button>

                  </td>
                </tr>


                <tr *ngIf="!records || records.length < 1">
                  <td colspan="6" >No record found</td>
                </tr>
							</tbody>
						</table>

						<mat-paginator (page)="handlePageEvent($event)" [length]="pageOptions.pageEvents.length"
							[pageSize]="pageOptions.pageEvents.pageSize" [pageSizeOptions]="pageOptions.sizeOptions"
							aria-label="Select page">
						</mat-paginator>


					</div>
					<!-- /.card-body -->
				</div>
				<!-- /.card -->

			</div>
			<!-- /.col -->
		</div>
		<!-- /.row -->
	</div>
	<!-- /.container-fluid -->
</section>
<!-- /.content -->
