<h1 mat-dialog-title>Send Chips</h1>
<mat-dialog-content>
	
	<label>Enter Chips to Send </label>
	<input type="text" class="form-control" [(ngModel)]="sendChips" />

<small>The user will receive the chips you entered, and it will be deducted from your balance.</small>
</mat-dialog-content>
<mat-dialog-actions>
	<button (click)="onSave()" type="submit" value="1" mat-button mat-dialog-close>Submit</button>
  <button (click)="onCancel()" type="reset" value="0" mat-button mat-dialog-close>Close</button>
</mat-dialog-actions>