<page-title title="{{view.title}}" subtitle="{{view.subtitle}}"></page-title>

<!-- Main content -->
<section class="content">
    <div class="container-fluid">

        <form (ngSubmit)="onSubmitAdd()" [formGroup]="formGroup">
            <div class="row pl-2">
                <div class="col-md-4">
                    <div class="card card-primary card-outline" >
                        <div class="card-header">
                            <h3 class="card-title">General</h3>

                            <div class="card-tools">
                                <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                                    <i class="fas fa-minus"></i>
                                </button>
                            </div>
                        </div>
                        <div class="card-body">
                            <form-text label="Name" placeholder="Enter name" [formControl]="formGroup.controls['name']"></form-text>
                            <form-text label="Address 1" placeholder="Enter Address 1" [formControl]="formGroup.controls['address1']"></form-text>
                            <form-text label="Address 2" placeholder="Enter Address 2" [formControl]="formGroup.controls['address2']"></form-text>

                            <form-select label="City" placeholder="Enter City" [valueList]="cityList" [formControl]="formGroup.controls['city_id']"></form-select>
                            <form-select label="State" placeholder="Enter State" [valueList]="stateList" [formControl]="formGroup.controls['state_id']"></form-select>
                            <form-select label="Country" placeholder="Enter Country" [valueList]="countryList" [formControl]="formGroup.controls['country_id']"></form-select>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
                <div class="col-md-4">
                    <div class="card card-secondary card-outline">
                        <div class="card-header">
                            <h3 class="card-title">Budget</h3>

                            <div class="card-tools">
                                <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                                    <i class="fas fa-minus"></i>
                                </button>
                            </div>
                        </div>
                        <div class="card-body">
                            <form-text label="Web" placeholder="Enter Web URL" [formControl]="formGroup.controls['web']"></form-text>
                            <form-text label="Email" placeholder="Enter Email" [formControl]="formGroup.controls['email']"></form-text>
                            <form-text label="Fax" placeholder="Enter Fax" [formControl]="formGroup.controls['fax']"></form-text>
                            <form-text label="Phone" placeholder="Enter Phone" [formControl]="formGroup.controls['phone']"></form-text>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
            </div>
            <div class="row">
                <div class="col-8 text-end">
                    <cancel-button backUrl="affiliate" class="me-2"></cancel-button>
                    <submit-button></submit-button>
                </div>
            </div>
        </form>
    </div>
</section>