.direct-chat-messages {
	height: auto;
}

.direct-chat-msg {
	margin-bottom: 0;
	padding: 0 10px;
}

.direct-chat-text {
	border: 0 none;
	background-color: #fff;
}
.small-box{
	text-align: center;
	padding: 10px;
}
.small-box h3 {
	color: white;
}
.small-box-footer{
	color: white;
}